.card {
  height: 400px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
  margin: 0.2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;
  align-self: flex-start;
}

.card:hover {
  transform: scale(1.05);
  transition-duration: 350ms;

  box-shadow: 0px 0px 15px 0px;
}

.card__title {
  text-transform: uppercase;
  background-color: aqua;
  height: 4rem;
  margin: 0.5rem;
  text-align: center;
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card__body {
  margin: 0.5rem;
  background-color: grey;
  height: 170px;
  text-align: left;
}
.card__userId {
  background-color: blue;
}

.card__delete-button {
  background-color: rgb(240, 64, 64);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.card__delete-button:hover {
  transition-duration: 300ms;
  background-color: rgb(238, 36, 36);
}
