.navbar {
  background-color: #1a1d1f;
  display: flex;
  flex-direction: row;
  padding-left: 1vw;
  padding-top: 1.5vh;
  align-items: flex-start;
  justify-content: space-between;
  height: 4.5vh;
  width: 100%;
  /* width: 2vw;
  height: 100%; */
  top: 0;
  position: fixed;
}

.menu-bars {
  font-size: 2rem;
  background: none;
  color: white;
  list-style: none;
  text-decoration: none;
  justify-content: space-around;
}
.menu-bars-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 2vw;
}

.menu-bars-navbar {
  font-size: 1.5rem;
}

.nav-menu {
  background-color: #1a1d1f;
  width: 200px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 500ms;
}

.nav-menu.active {
  list-style: none;
  left: 0;
  transform: 250ms;
}

.nav-text {
  display: flex;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: white;
  font-size: 23px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
  transition: 400ms;
}

.nav-menu-items {
  list-style: none;
  width: 100%;
}

.navbar-toggle {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
}

span {
  margin-left: 16px;
}
